In [264]:
# Importing Libraries
import numpy as np
import pandas as pd

In [265]:
# Creating a Data Preprocessing Class
class Data_preprocessing():
    # Importing Data
    def data_loading(self):
        data = pd.read_csv('/home/meghal/Personal/Personal Projects/Space Titanic/Data/train.csv')
        data = data.drop(['PassengerId', 'Name'], axis='columns')
        return data

    # Removing Null values with minimum threshold of 3
    def remove_null(self, data):
        df = data.dropna(thresh=len(data.columns)-2)

        return df

    # Filling Object Columns using Mode() operation
    def fill_object_columns(self, data):
        object_columns = data.select_dtypes(include='object').columns

        for col in object_columns:
            data[col] = data[col].fillna(data[col].mode()[0]) # Filling NULL Values of Object Datatypes Columns by taking the Mode.

        return data

    # Filling Floating Columns using Mean() & Median() operation
    def fill_float_columns(self, data):
        float_columns = data.select_dtypes(include='float64').columns

        for col in float_columns:
            if (col == 'Age'):
                data[col] = data[col].fillna(data[col].median()) # Filling NULL Values of Age by taking the Median.
            else:
                data[col] = round(data[col].fillna(data[col].mean()), ndigits=2) # Filling NULL Values of Amounts spent by Passengers by taking the Mean.

        return data

In [266]:
df = Data_preprocessing().data_loading()
df

,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported
0,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,False
1,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,True
2,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,False
3,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,False
4,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...
8688,Europa,False,A/98/P,55 Cancri e,41.0,True,0.0,6819.0,0.0,1643.0,74.0,False
8689,Earth,True,G/1499/S,PSO J318.5-22,18.0,False,0.0,0.0,0.0,0.0,0.0,False
8690,Earth,False,G/1500/S,TRAPPIST-1e,26.0,False,0.0,0.0,1872.0,1.0,0.0,True
8691,Europa,False,E/608/S,55 Cancri e,32.0,False,0.0,1049.0,0.0,353.0,3235.0,False
8692,Europa,False,E/608/S,TRAPPIST-1e,44.0,False,126.0,4688.0,0.0,0.0,12.0,True

In [267]:
# Checking the Data types of all the columns of the Dataframe
df.dtypes

HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Transported        bool
dtype: object

In [268]:
# Checking whether the data contains Null values.
df.isna().sum()

HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Transported       0
dtype: int64

In [269]:
# Removing Rows from the dataframe where there is more than 2 Null values.
df = Data_preprocessing().remove_null(df)
df.shape

(8681, 12)

In [270]:
# Filling Null values seperately for Object Datatype Columns and Float Datatype Columns using Mean, Median & Mode
df = Data_preprocessing().fill_object_columns(df)
df = Data_preprocessing().fill_float_columns(df)

/tmp/ipykernel_47686/271241642.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].mode()[0])
/tmp/ipykernel_47686/271241642.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].mode()[0])
/tmp/ipykernel_47686/271241642.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].mode()[0])
/tmp/ipykernel_47686/271241642.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].mode()[0])
/tmp/ipykernel_47686/271241642.py:20: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].mode()[0])
/tmp/ipykernel_47686/271241642.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = data[col].fillna(data[col].median())
/tmp/ipykernel_47686/271241642.py:32: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  data[col] = round(data[col].fillna(data[col].mean()), ndigits=2)

In [271]:
# Checking whether the NULL Values are removed
df.isna().sum()

HomePlanet      0
CryoSleep       0
Cabin           0
Destination     0
Age             0
VIP             0
RoomService     0
FoodCourt       0
ShoppingMall    0
Spa             0
VRDeck          0
Transported     0
dtype: int64

In [272]:
# Storing the clean Dataframe into CSV File.
df.to_csv('/home/meghal/Personal/Personal Projects/Space Titanic/Data/cleaned_training_data.csv', index=False)

In [273]:
! pip freeze > requirements.txt